 <div role="tabpanel" class="tab-pane" id="leadership">
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">
                Leadership Events
            </h3>
        </div>
        <div class="panel-body detail-section-content">
            <table class="table">
                <tr class="table-header">
                    <th><p>This will need to be set up to create different events. (not just tabs)</p></th>
                </tr>
            </table>
        </div>
    </div>
  </div>