<div role="tabpanel" class="tab-pane" id="staff">
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">
                Hospital - Staff
            </h3>
        </div>
        <div class="panel-body detail-section-content">
            <table class="table">
                <tr class="table-header">
                    <th>Entire Staff Devotions</th>
                    <th>Department Devotions</th>
                    <th>Hospital Prayer Group Intercessions</th>
                    <th>Spiritual Center Staff Meetings</th>
                </tr>
            </table>
        </div>
    </div>
  </div>