<div role="tabpanel" class="tab-pane" id="submit">
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">
              Submit
            </h3>
        </div>
        <div class="panel-body detail-section-content">
            <table class="table">
                <tr class="table-header">
                    <th><p>This is where we will be saving the monthly report!</p></th>
                </tr>
            </table>
            
            <!--Tab Buttons-->
            <button class="btn btn-default">Staff</button>
            <button class="btn btn-default">Patient</button>
            <button class="btn btn-default">Leadership</button>
            <button class="btn btn-default">Community</button>
            <button class="btn btn-default">Christianity Explored</button>
            <button class="btn btn-default">Faith Declarations</button>
            <button class="btn btn-default">Demographics</button>
            <button class="btn btn-default">Additional Info</button>
            <button class="btn btn-default">Summary</button>
            
            <!--Bottom Buttons-->
            <button class="btn btn-default" {{action 'generateReport'}}>Save</button>
            <button class="btn btn-default" {{action 'generateReport'}}>Submit</button>
            
        </div>
    </div>
  </div>