<head>
    <style>
        .submissionTab {
            padding-top: 20px;
            padding-bottom: 20px;
        }
        
        .submissionTabS {
            padding-top: 15px;
            padding-bottom: 15px;
            
            margin-top: 4px;
            margin-bottom: 4px;
        }
        
    </style>
</head>

<div role="tabpanel" class="tab-pane" id="submit">
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">
              Submit
            </h3>
        </div>
        <div class="panel-body detail-section-content">
            <table class="table">
                <tr class="table-header">
                    <th><p>This is where we will be saving the monthly report!</p></th>
                </tr>
            </table>
            
            <!--Tab Buttons-->
            <span class="row"> 
                <span class="col-xs-4"><button class="btn btn-default col-xs-offset-1 col-xs-10 submissionTab">Staff</button></span>
                <span class="col-xs-4"><button class="btn btn-default col-xs-offset-1 col-xs-10 submissionTab">Patient</button></span>
                <span class="col-xs-4"><button class="btn btn-default col-xs-offset-1 col-xs-10 submissionTab">Leadership</button></span>
            </span>
            <span class="row">
                <span class="col-xs-4"><button class="btn btn-default col-xs-offset-1 col-xs-10 submissionTab">Community</button></span>
                <span class="col-xs-4"><button class="btn btn-default col-xs-offset-1 col-xs-10 submissionTab">Christianity Explored</button></span>
                <span class="col-xs-4"><button class="btn btn-default col-xs-offset-1 col-xs-10 submissionTab">Faith Declarations</button></span>
            </span>
            <span class="row">
                <span class="col-xs-4"><button class="btn btn-default col-xs-offset-1 col-xs-10 submissionTab">Demographics</button></span>
                <span class="col-xs-4"><button class="btn btn-default col-xs-offset-1 col-xs-10 submissionTab">Additional Info</button></span>
                <span class="col-xs-4"><button class="btn btn-default col-xs-offset-1 col-xs-10 submissionTab">Summary</button></span>
            </span>
            
            <!--Bottom Buttons-->
            <span class="row">
                <span class="col-xs-12">
                    <button class="btn btn-default col-xs-offset-5 col-xs-2 submissionTabS" {{action 'generateReport'}}>Save</button>
                </span>   
                <span class="col-xs-12">
                    <button class="btn btn-default col-xs-offset-5 col-xs-2 submissionTabS" {{action 'generateReport'}}>Submit</button>
                </span>
            </span>
        </div>
    </div>
  </div>