<div class="panel-heading">
    <h3 class="panel-title">
        Patient Ministries
    </h3>
</div>
<div class="panel-body detail-section-content">
    <table class="table">
        <tr class="table-header">
            <td>{{em-text label="Bedside Evangelism" property="bedsideEvangelism" rows=12 class="col-lg-12 col-sm-6"}}</td>
            <td>{{em-text label="Playroom Activities" property="playroomActivities" rows=12 class="col-lg-12 col-sm-6"}}</td>
        </tr>
    </table>
</div>
