<div role="tabpanel" class="tab-pane" id="patient">
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">
                Hospital - Patient
            </h3>
        </div>
        <div class="panel-body detail-section-content">
            <table class="table">
                <tr class="detail-section-content panel-title">
                    <th>Bedside Evangelism</th>

                    <th>Playroom Activities</th>
                </tr>
                    <tr>
                        <td>{{em-text property="bedsideEvangelism" rows=12 class="col-lg-12 col-sm-6"}}</td>
                        <td>{{em-text property="playroomActivities" rows=12 class="col-lg-12 col-sm-6"}}</td>
                    </tr>
                
            </table>
        </div>
    </div>
    <div class="panel-footer">
        <button class="btn btn-default" {{action 'generateReport'}}>Save</button>
        <button class="btn btn-default warning" {{action 'hideGenInfo'}}>Cancel</button>
      </div>
  </div>