<div class="panel-heading">
    <h3 class="panel-title">
        Patient Ministries
    </h3>
</div>
<div class="panel-body detail-section-content">
    <div class="col-xs-12">
        {{em-text label="Bedside Evangelism" property="bedsideEvangelism" rows=12 class="col-sm-6 noResize"}}
    </div>
    <div class="col-xs-12">
        {{em-text label="Playroom Activities" property="playroomActivities" rows=12 class="col-sm-6 noResize"}}
    </div>
</div>
