<div role="tabpanel" class="tab-pane" id="patient">
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">
                Hospital - Patient
            </h3>
        </div>
        <div class="panel-body detail-section-content">
            <table class="table">
                <tr class="table-header">
                    <th>Bedside Evangelism</th>
                    <th>Playroom Activities</th>
                </tr>
            </table>
        </div>
    </div>
  </div>