<div class="panel-heading">
    <h3 class="panel-title">
        Patient Ministries
    </h3>
</div>
<div class="panel-body detail-section-content">
    <div class="col-xs-12 col-sm-6">
        <p>
            First type at most 3000 words into the textbox below and then click on the save button to save the 
            text entered into the textbox. 
        </p>
        {{em-text label="Bedside Evangelism" property="bedsideEvangelism" rows=12 class="noResize"}}
    </div>
    <div class="col-xs-12 col-sm-6">
        <p>
            First type at most 3000 words into the textbox below and then click on the save button to save the 
            text entered into the textbox. Examples include Playroom was active with more mothers than children, 
            Bible stories, Children movies, Design Making, Toys, Puzzles and games like net ball, and Music cassettes.
        </p>
        {{em-text label="Playroom Activities" property="playroomActivities" rows=12 class="noResize"}}
    </div>
</div>
