<div class="panel-heading">
    <h3 class="panel-title">
        Patient Ministries
    </h3>
</div>
<div class="panel-body detail-section-content">
    <div class="row">
        <h3 class="panel-title panel-body">
            Bedside Evangelism
        </h3>
        {{em-text property="bedsideEvangelism" rows=8 class="col-lg-12 col-sm-6 noResize"}}
    </div>
    <div class="row">
        <h3 class="panel-title panel-body">
            Playroom Activities
        </h3>
        <p class="col-lg-6">Examples: Playroom was active with more mothers than children, 
            Bible stories, Children movies, Design making, Toys, Puzzles and games like net ball, Music cassettes. 
        </p>
        {{em-text property="playroomActivities" rows=12 class="col-lg-12 col-sm-6 noResize"}}
    </div>
</div>
