<div role="tabpanel" class="tab-pane" id="ai">
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">
              Additional Info
            </h3>
        </div>
        <div class="panel-body detail-section-content">
            <table class="table">
                <tr class="table-header">
                    <th>Ministry Results</th>
                    <th>Recommendations/Needs</th>
                    <th>Other Significant Items</th>
                </tr>
            </table>
        </div>
    </div>
   </div>