<div role="tabpanel" class="tab-pane" id="demographics">
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">
              Demographics
            </h3>
        </div>
        <div class="panel-body detail-section-content">
            <table class="table">
                <tr class="table-header">
                    <th>Staff</th>
                    <th>Partner Organizations</th>
                    <th>Churches</th>
                    <th>People Groups</th>
                </tr>
            </table>
        </div>
    </div>
  </div>