<div role="tabpanel" class="tab-pane" id="summary">
      <div class="panel">
          <div class="panel-heading">
              <h3 class="panel-title">
                Summary
              </h3>
          </div>
          <div class="panel-body detail-section-content">
              <table class="table">
                  <tr class="table-header">
                      <th>Bedside Presentations</th>
                      <th>Playroom Presentations</th>
                      <th>Jesus Film</th>
                      <th>Open Air Meetings</th>
                      <th>Mobile Clinic Visits</th>
                      <th>Additional Opportunities</th>
                      <th>Totals</th>
                  </tr>
              </table>
          </div>
      </div>
  </div>