<div class="panel panel-success">
    <div class="panel-body">
        <div class="row">
            <div class="form-group col-sm-3">
                <label class="control-label">Id</label> {{displayPatientId}}
            </div>
            <div class="form-group col-sm-4">
                <label class="control-label">Date</label> {{currentMonth}}
            </div>
        </div>
    </div>
</div>
<ul class="nav nav-pills" role="tablist">
    <li role="presentation" class="active" ><a href="#Hospital" role="tab" data-toggle="pill">Hospital</a></li>
    <li role="presentation"><a href="#leadership" role="tab" data-toggle="pill">Leadership</a></li>
    <li role="presentation"><a href="#community" role="tab" data-toggle="pill">Community</a></li>
    <li role="presentation"><a href="#ce" role="tab" data-toggle="pill">Christianity Explored</a></li>
    <li role="presentation"><a href="#fd" role="tab" data-toggle="pill">Faith Declarations</a></li>
    <li role="presentation"><a href="#demographics" role="tab" data-toggle="pill">Demographics</a></li>
    <li role="presentation"><a href="#ai" role="tab" data-toggle="pill">Additional Info</a></li>
    <li role="presentation"><a href="#summary" role="tab" data-toggle="pill">Summary</a></li>
</ul>
<div class="tab-content">
  <div role="tabpanel" class="tab-pane" id="Hospital">
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">
                Hospital
            </h3>
        </div>
        <div class="panel-body detail-section-content">
            <table class="table">
                <tr class="table-header">
                    <th>Date</th>
                    <th>Name</th>
                    <th>Status</th>
                    <th>Prescription</th>
                    <th>Requested By</th>
                    <th>Actions</th>
                </tr>
            </table>
        </div>
    </div>
  </div>
  <div role="tabpanel" class="tab-pane" id="leadership">
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">
                Leadership
            </h3>
        </div>
        <div class="panel-body detail-section-content">
            <table class="table">
                <tr class="table-header">
                    <th>Date</th>
                    <th>Name</th>
                    <th>Status</th>
                    <th>Prescription</th>
                    <th>Requested By</th>
                    <th>Actions</th>
                </tr>
            </table>
        </div>
    </div>
  </div>
  <div role="tabpanel" class="tab-pane" id="community">
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">
                Community
            </h3>
        </div>
        <div class="panel-body detail-section-content">
            <table class="table">
                <tr class="table-header">
                    <th>Date</th>
                    <th>Name</th>
                    <th>Status</th>
                    <th>Prescription</th>
                    <th>Requested By</th>
                    <th>Actions</th>
                </tr>
            </table>
        </div>
    </div>
  </div>
  <div role="tabpanel" class="tab-pane" id="ce">
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">
              Christianity Explored
            </h3>
        </div>
        <div class="panel-body detail-section-content">
            <table class="table">
                <tr class="table-header">
                    <th>Date</th>
                    <th>Name</th>
                    <th>Status</th>
                    <th>Prescription</th>
                    <th>Requested By</th>
                    <th>Actions</th>
                </tr>
            </table>
        </div>
    </div>
  </div>
  <div role="tabpanel" class="tab-pane" id="fd">
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">
                Faith Declaration
            </h3>
        </div>
        <div class="panel-body detail-section-content">
            <table class="table">
                <tr class="table-header">
                    <th>Date</th>
                    <th>Name</th>
                    <th>Status</th>
                    <th>Prescription</th>
                    <th>Requested By</th>
                    <th>Actions</th>
                </tr>
            </table>
        </div>
    </div>
  </div>
  <div role="tabpanel" class="tab-pane" id="demographics">
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">
              Demographics
            </h3>
        </div>
        <div class="panel-body detail-section-content">
            <table class="table">
                <tr class="table-header">
                    <th>Date</th>
                    <th>Name</th>
                    <th>Status</th>
                    <th>Prescription</th>
                    <th>Requested By</th>
                    <th>Actions</th>
                </tr>
            </table>
        </div>
    </div>
  </div>
  <div role="tabpanel" class="tab-pane" id="ai">
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">
              Additional Info
            </h3>
        </div>
        <div class="panel-body detail-section-content">
            <table class="table">
                <tr class="table-header">
                    <th>Date</th>
                    <th>Name</th>
                    <th>Status</th>
                    <th>Prescription</th>
                    <th>Requested By</th>
                    <th>Actions</th>
                </tr>
            </table>
        </div>
    </div>
   </div>
    <div role="tabpanel" class="tab-pane" id="summary">
      <div class="panel">
          <div class="panel-heading">
              <h3 class="panel-title">
                Summary
              </h3>
          </div>
          <div class="panel-body detail-section-content">
              <table class="table">
                  <tr class="table-header">
                      <th>Date</th>
                      <th>Name</th>
                      <th>Status</th>
                      <th>Prescription</th>
                      <th>Requested By</th>
                      <th>Actions</th>
                  </tr>
              </table>
          </div>
      </div>
  </div>
</div> <!--end tab-content -->
