<div class="panel panel-success">
    <div class="panel-body">
        <div class="row">        
            <div class="form-group col-sm-3">
                <label class="control-label">Id</label> {{displayPatientId}}
            </div>
            <div class="form-group col-sm-4">
                <label class="control-label">Date</label> {{currentMonth}}
            </div>
        </div>                
    </div>
</div>
<ul class="nav nav-pills" role="tablist">
    <li role="presentation" class="active" ><a href="#Hospital" role="tab" data-toggle="pill">Hospital</a></li>
    <li role="presentation"><a href="#leadership" role="tab" data-toggle="pill">Leadership</a></li>            
    <li role="presentation"><a href="#community" role="tab" data-toggle="pill">Community</a></li>
    <li role="presentation"><a href="#ce" role="tab" data-toggle="pill">Christianity Explored</a></li>
    <li role="presentation"><a href="#fd" role="tab" data-toggle="pill">Faith Declarations</a></li>
    <li role="presentation"><a href="#demographics" role="tab" data-toggle="pill">Demographics</a></li>
    <li role="presentation"><a href="#ai" role="tab" data-toggle="pill">Additional Info</a></li>
    <li role="presentation"><a href="#summary" role="tab" data-toggle="pill">Summary</a></li>
</ul>
