<div class="panel panel-success">
    <div class="panel-body">
        <div class="row">
            <div class="form-group col-sm-3">
                <label class="control-label">Id</label> {{displayPatientId}}
            </div>
            <div class="form-group col-sm-4">
                <label class="control-label">Date</label> {{currentMonth}}
            </div>
        </div>
    </div>
</div>
<ul class="nav nav-pills" role="tablist">
    <li role="presentation" class="active" ><a href="#staff" role="tab" data-toggle="pill">Staff</a></li>
    <li role="presentation" class="active" ><a href="#patient" role="tab" data-toggle="pill">Patient</a></li>
    <li role="presentation"><a href="#leadership" role="tab" data-toggle="pill">Leadership</a></li>
    <li role="presentation"><a href="#community" role="tab" data-toggle="pill">Community</a></li>
    <li role="presentation"><a href="#ce" role="tab" data-toggle="pill">Christianity Explored</a></li>
    <li role="presentation"><a href="#fd" role="tab" data-toggle="pill">Faith Declarations</a></li>
    <li role="presentation"><a href="#demographics" role="tab" data-toggle="pill">Demographics</a></li>
    <li role="presentation"><a href="#ai" role="tab" data-toggle="pill">Additional Info</a></li>
    <li role="presentation"><a href="#summary" role="tab" data-toggle="pill">Summary</a></li>
</ul>
<div class="tab-content">
  <div role="tabpanel" class="tab-pane" id="staff">
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">
                Hospital - Staff
            </h3>
        </div>
        <div class="panel-body detail-section-content">
            <table class="table">
                <tr class="table-header">
                    <th>Entire Staff Devotions</th>
                    <th>Department Devotions</th>
                    <th>Hospital Prayer Group Intercessions</th>
                    <th>Spiritual Center Staff Meetings</th>
                </tr>
            </table>
        </div>
    </div>
  </div>
  <div role="tabpanel" class="tab-pane" id="patient">
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">
                Hospital - Patient
            </h3>
        </div>
        <div class="panel-body detail-section-content">
            <table class="table">
                <tr class="table-header">
                    <th>Bedside Evangelism</th>
                    <th>Playroom Activities</th>
                </tr>
            </table>
        </div>
    </div>
  </div>
  <div role="tabpanel" class="tab-pane" id="leadership">
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">
                Leadership Events
            </h3>
        </div>
        <div class="panel-body detail-section-content">
            <table class="table">
                <tr class="table-header">
                    <th><p>This will need to be set up to create different events. (not just tabs)</p></th>
                </tr>
            </table>
        </div>
    </div>
  </div>
  <div role="tabpanel" class="tab-pane" id="community">
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">
                Community
            </h3>
        </div>
        <div class="panel-body detail-section-content">
            <table class="table">
                <tr class="table-header">
                    <th><p>This will need to be set up to create different events. (not just tabs)</p></th>
                </tr>
            </table>
        </div>
    </div>
  </div>
  <div role="tabpanel" class="tab-pane" id="ce">
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">
              Christianity Explored
            </h3>
        </div>
        <div class="panel-body detail-section-content">
            <table class="table">
                <tr class="table-header">
                    <th><p>This will need to be set up to create different events. (not just tabs)</p></th>
                </tr>
            </table>
        </div>
    </div>
  </div>
  <div role="tabpanel" class="tab-pane" id="fd">
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">
                Faith Declaration
            </h3>
        </div>
        <div class="panel-body detail-section-content">
            <table class="table">
                <tr class="table-header">
                    <th><p>This will need to be set up to create different events. (not just tabs)</p></th>
                </tr>
            </table>
        </div>
    </div>
  </div>
  <div role="tabpanel" class="tab-pane" id="demographics">
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">
              Demographics
            </h3>
        </div>
        <div class="panel-body detail-section-content">
            <table class="table">
                <tr class="table-header">
                    <th>Staff</th>
                    <th>Partner Organizations</th>
                    <th>Churches</th>
                    <th>People Groups</th>
                </tr>
            </table>
        </div>
    </div>
  </div>
  <div role="tabpanel" class="tab-pane" id="ai">
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">
              Additional Info
            </h3>
        </div>
        <div class="panel-body detail-section-content">
            <table class="table">
                <tr class="table-header">
                    <th>Ministry Results</th>
                    <th>Recommendations/Needs</th>
                    <th>Other Significant Items</th>
                </tr>
            </table>
        </div>
    </div>
   </div>
    <div role="tabpanel" class="tab-pane" id="summary">
      <div class="panel">
          <div class="panel-heading">
              <h3 class="panel-title">
                Summary
              </h3>
          </div>
          <div class="panel-body detail-section-content">
              <table class="table">
                  <tr class="table-header">
                      <th>Bedside Presentations</th>
                      <th>Playroom Presentations</th>
                      <th>Jesus Film</th>
                      <th>Open Air Meetings</th>
                      <th>Mobile Clinic Visits</th>
                      <th>Additional Opportunities</th>
                      <th>Totals</th>
                  </tr>
              </table>
          </div>
      </div>
  </div>
</div> <!--end tab-content -->
