<div role="tabpanel" class="tab-pane active" id="hospital">
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">
                Hospital
            </h3>
        </div>
        <div class="panel-body detail-section-content">

        </div>
    </div>
  </div>
