<div role="tabpanel" class="tab-pane active" id="hospital">
    {{#em-form model=this submit_button=false bubbles=false}}
    <div class="panel">
        {{partial 'ministry/edit/staff'}}
        {{partial 'ministry/edit/patient'}}        
    </div>
    {{/em-form}}
</div>