<div role="tabpanel" class="tab-pane" id="preview">
      <div class="panel">
          <div class="panel-heading">
              <h3 class="panel-title">
                Preview
              </h3>
          </div>
          <div class="panel-body detail-section-content">
 
          </div>
      </div>
  </div>
