<div role="tabpanel" class="tab-pane" id="preview">
      <div class="panel">
          <div class="panel-heading">
              <h3 class="panel-title">
                Preview
              </h3>
          </div>
          <div class="panel-body detail-section-content">

<!-- Hospital -->              
              <div class="panel">
                  <div class="panel-heading" role="tab" id="hospitalPreview">
                      <a data-toggle="collapse" href="#hospitalPreviewCollapse" aria-expanded="true" aria-controls="hospitalPreviewCollapse"> 
                          <h3 class="panel-title headingsForPreview">
                              Hospital 
                              <span class="octicon octicon-triangle-down pull-right"></span>
                              <!--<span class="octicon octicon-triangle-up pull-right"></span>-->
                          </h3>
                      </a>
                  </div>
                  <div id="hospitalPreviewCollapse" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="hospitalPreview">
                      <div class="panel-body">
                         <h4>
                            Staff Ministries
                         </h4>
                         <hr>
                         <span class="row">
                            <span class="col-xs-3">
                                <p>Entire Staff Devotions: 30</p>
                            </span>
                            <span class="col-xs-3">
                                <p>Department Devotions: 25</p>
                            </span>
                            <span class="col-xs-3">
                                <p>Hospital Prayer Group Intercession: 10</p>
                            </span>
                            <span class="col-xs-3">
                                <p>Spiritual Center Staff Meeting: 5</p>
                            </span>
                        </span>
                        <span class="row">
                            <span class="col-xs-12">
                                <p>Staff Development:</p>
                                <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
                            </span>
                         </span>
                         <span class="row">
                            <span class="col-xs-12">
                                <p>Continuing Education/Counseling/Support Opportunities:</p>
                                <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
                            </span>
                        </span>
                        <hr>
                        <h4>
                            Patient Ministries
                        </h4>
                        <hr>
                        <span class="row">
                            <span class="col-xs-12">
                                <p>Bedside Evangelism:</p>
                                <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
                            </span>
                        </span>
                        <span class="row">
                            <span class="col-xs-12">
                                <p>Playroom Activities:</p>
                                <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
                            </span>
                        </span>
                      </div>
                  </div>
              </div>

<!-- Events -->
              <div class="panel">
                  <div class="panel-heading" role="tab" id="eventsPreview">
                      <a data-toggle="collapse" href="#eventsPreviewCollapse" aria-expanded="true" aria-controls="eventsPreviewCollapse"> 
                          <h3 class="panel-title headingsForPreview">
                              Events
                              <span class="octicon octicon-triangle-down pull-right"></span>
                              <!--<span class="octicon octicon-triangle-up pull-right"></span>-->
                          </h3>
                      </a>
                  </div>
                  <div id="eventsPreviewCollapse" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="eventsPreview">
                      <div class="panel-body">
                          <div class="panel">
                            <div class="panel-heading" role="tab" id="LeadershipEventsPreview">
                                <a class="collapsed" data-toggle="collapse" href="#LeadershipEventsPreviewCollapse" aria-expanded="false" aria-controls="LeadershipEventsPreviewCollapse"> 
                                    <h5 class="panel-title">
                                        Leadership Events (Click to see Events)
                                        <span class="octicon octicon-triangle-down pull-right"></span>
                                        <!--<span class="octicon octicon-triangle-up pull-right"></span>-->
                                    </h5>
                                </a>
                            </div>
                            <div id="LeadershipEventsPreviewCollapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="LeadershipEventsPreview">
                                <div class="panel-body">
                                    <div>
                                        <span class="row">
                                            <span class="col-sm-3">
                                                <button class="btn btn-primary col-xs-offset-1 col-xs-10 previewNames">Leadership Event 1</button>
                                            </span>
                                            <span class="col-sm-3">
                                                <button class="btn btn-primary col-xs-offset-1 col-xs-10 previewNames">Leadership Event 2</button>
                                            </span>
                                            <span class="col-sm-3">
                                                <button class="btn btn-primary col-xs-offset-1 col-xs-10 previewNames">Leadership Event 3</button>
                                            </span>
                                            <span class="col-sm-3">
                                                <button class="btn btn-primary col-xs-offset-1 col-xs-10 previewNames">Leadership Event 4</button>
                                            </span>
                                        </span> <!-- end Row1 -->
                                        <span class="row">
                                            <span class="col-sm-3">
                                                <button class="btn btn-primary col-xs-offset-1 col-xs-10 previewNames">Leadership Event 5</button>
                                            </span>
                                            <span class="col-sm-3">
                                                <button class="btn btn-primary col-xs-offset-1 col-xs-10 previewNames">Leadership Event 6</button>
                                            </span>
                                            <span class="col-sm-3">
                                                <button class="btn btn-primary col-xs-offset-1 col-xs-10 previewNames">Leadership Event 7</button>
                                            </span>
                                            <span class="col-sm-3">
                                                <button class="btn btn-primary col-xs-offset-1 col-xs-10 previewNames">Leadership Event 8</button>
                                            </span>
                                        </span><!-- end Row2 -->
                                    </div>
                                </div>
                            </div>
                         </div>
                         <div class="panel">
                            <div class="panel-heading" role="tab" id="CommunityEventsPreview">
                                <a class="collapsed" data-toggle="collapse" href="#CommunityEventsPreviewCollapse" aria-expanded="false" aria-controls="CommunityEventsPreviewCollapse"> 
                                    <h5 class="panel-title">
                                        Community Events (Click to see Events)
                                        <span class="octicon octicon-triangle-down pull-right"></span>
                                        <!--<span class="octicon octicon-triangle-up pull-right"></span>-->
                                    </h5>
                                </a>
                            </div>
                            <div id="CommunityEventsPreviewCollapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="CommunityEventsPreview">
                                <div class="panel-body">
                                    <div>
                                        <span class="row">
                                            <span class="col-sm-3">
                                                <button class="btn btn-primary col-xs-offset-1 col-xs-10 previewNames">Community Event 1</button>
                                            </span>
                                            <span class="col-sm-3">
                                                <button class="btn btn-primary col-xs-offset-1 col-xs-10 previewNames">Community Event 2</button>
                                            </span>
                                            <span class="col-sm-3">
                                                <button class="btn btn-primary col-xs-offset-1 col-xs-10 previewNames">Community Event 3</button>
                                            </span>
                                            <span class="col-sm-3">
                                                <button class="btn btn-primary col-xs-offset-1 col-xs-10 previewNames">Community Event 4</button>
                                            </span>
                                        </span> <!-- end Row1 -->
                                        <span class="row">
                                            <span class="col-sm-3">
                                                <button class="btn btn-primary col-xs-offset-1 col-xs-10 previewNames">Community Event 5</button>
                                            </span>
                                            <span class="col-sm-3">
                                                <button class="btn btn-primary col-xs-offset-1 col-xs-10 previewNames">Community Event 6</button>
                                            </span>
                                            <span class="col-sm-3">
                                                <button class="btn btn-primary col-xs-offset-1 col-xs-10 previewNames">Community Event 7</button>
                                            </span>
                                            <span class="col-sm-3">
                                                <button class="btn btn-primary col-xs-offset-1 col-xs-10 previewNames">Community Event 8</button>
                                            </span>
                                        </span><!-- end Row2 -->
                                    </div>
                                </div>
                            </div>
                         </div>
                      </div>
                  </div>
              </div>

<!-- Faith Declarations -->
              <div class="panel">
                  <div class="panel-heading" role="tab" id="fdPreview">
                      <a data-toggle="collapse" href="#fdPreviewCollapse" aria-expanded="false" aria-controls="fdPreviewCollapse"> 
                          <h3 class="panel-title headingsForPreview">
                              Faith Declarations
                              <span class="octicon octicon-triangle-down pull-right"></span>
                              <!--<span class="octicon octicon-triangle-up pull-right"></span>-->
                          </h3>
                      </a>
                  </div>
                  <div id="fdPreviewCollapse" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="fdPreview">
                      <div class="panel-body">
                          <h4>
                             Christianity Explored Class
                          </h4>
                          <hr>
                          <span class="row">
                             <span class="col-xs-3">
                                 <p>Sessions: 10</p>
                             </span>
                             <span class="col-xs-3">
                                 <p>Participants: 200</p>
                             </span>
                             <span class="col-xs-3">
                                 <p>Graduates: 150</p>
                             </span>
                             <span class="col-xs-3">
                                 <p>Participants Seeking Continuing Education: 100</p>
                             </span>
                          </span>
                          <hr>
                          <h4>
                              Faith Declarations
                          </h4>
                          <hr>
                          <p>Total: 350</p>
                          <div class="panel">
                            <div class="panel-heading" role="tab" id="fdNamesPreview">
                                <a class="collapsed" data-toggle="collapse" href="#fdNamesPreviewCollapse" aria-expanded="false" aria-controls="fdNamesPreviewCollapse"> 
                                    <h5 class="panel-title">
                                        New Believer/Recommitment Names (Click to see Names)
                                        <span class="octicon octicon-triangle-down pull-right"></span>
                                        <!--<span class="octicon octicon-triangle-up pull-right"></span>-->
                                    </h5>
                                </a>
                            </div>
                            <div id="fdNamesPreviewCollapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="fdNamesPreview">
                                <div class="panel-body">
                                    <div>
                                        <span class="row">
                                            <span class="col-sm-3">
                                                <button class="btn btn-primary col-xs-offset-1 col-xs-10 previewNames">
                                                    <h5 style="font-size: 18px;">Person's Name</h5>
                                                    <p>Person's Age</p>
                                                    <p>Person's Gender</p>
                                                </button>
                                            </span>
                                            <span class="col-sm-3">
                                                <button class="btn btn-primary col-xs-offset-1 col-xs-10 previewNames">
                                                    <h5 style="font-size: 18px;">Person's Name</h5>
                                                    <p>Person's Age</p>
                                                    <p>Person's Gender</p>
                                                </button>
                                            </span>
                                            <span class="col-sm-3">
                                                <button class="btn btn-primary col-xs-offset-1 col-xs-10 previewNames">
                                                    <h5 style="font-size: 18px;">Person's Name</h5>
                                                    <p>Person's Age</p>
                                                    <p>Person's Gender</p>
                                                </button>
                                            </span>
                                            <span class="col-sm-3">
                                                <button class="btn btn-primary col-xs-offset-1 col-xs-10 previewNames">
                                                    <h5 style="font-size: 18px;">Person's Name</h5>
                                                    <p>Person's Age</p>
                                                    <p>Person's Gender</p>
                                                </button>
                                            </span>
                                        </span> <!-- end Row1 -->
                                        <span class="row">
                                            <span class="col-sm-3">
                                                <button class="btn btn-primary col-xs-offset-1 col-xs-10 previewNames">
                                                    <h5 style="font-size: 18px;">Person's Name</h5>
                                                    <p>Person's Age</p>
                                                    <p>Person's Gender</p>
                                                </button>
                                            </span>
                                            <span class="col-sm-3">
                                                <button class="btn btn-primary col-xs-offset-1 col-xs-10 previewNames">
                                                    <h5 style="font-size: 18px;">Person's Name</h5>
                                                    <p>Person's Age</p>
                                                    <p>Person's Gender</p>
                                                </button>
                                            </span>
                                            <span class="col-sm-3">
                                                <button class="btn btn-primary col-xs-offset-1 col-xs-10 previewNames">
                                                    <h5 style="font-size: 18px;">Person's Name</h5>
                                                    <p>Person's Age</p>
                                                    <p>Person's Gender</p>
                                                </button>
                                            </span>
                                            <span class="col-sm-3">
                                                <button class="btn btn-primary col-xs-offset-1 col-xs-10 previewNames">
                                                    <h5 style="font-size: 18px;">Person's Name</h5>
                                                    <p>Person's Age</p>
                                                    <p>Person's Gender</p>
                                                </button>
                                            </span>
                                        </span><!-- end Row2 -->
                                        <span class="row">
                                            <span class="col-sm-3">
                                                <button class="btn btn-primary col-xs-offset-1 col-xs-10 previewNames">
                                                    <h5 style="font-size: 18px;">Person's Name</h5>
                                                    <p>Person's Age</p>
                                                    <p>Person's Gender</p>
                                                </button>
                                            </span>
                                            <span class="col-sm-3">
                                                <button class="btn btn-primary col-xs-offset-1 col-xs-10 previewNames">
                                                    <h5 style="font-size: 18px;">Person's Name</h5>
                                                    <p>Person's Age</p>
                                                    <p>Person's Gender</p>
                                                </button>
                                            </span>
                                            <span class="col-sm-3">
                                                <button class="btn btn-primary col-xs-offset-1 col-xs-10 previewNames">
                                                    <h5 style="font-size: 18px;">Person's Name</h5>
                                                    <p>Person's Age</p>
                                                    <p>Person's Gender</p>
                                                </button>
                                            </span>
                                            <span class="col-sm-3">
                                                <button class="btn btn-primary col-xs-offset-1 col-xs-10 previewNames">
                                                    <h5 style="font-size: 18px;">Person's Name</h5>
                                                    <p>Person's Age</p>
                                                    <p>Person's Gender</p>
                                                </button>
                                            </span>
                                        </span> <!-- end Row3 -->
                                    </div>
                                </div>
                            </div>
                         </div>
                      </div>
                  </div>
              </div>
                  
<!-- Additional Info --> 
              <div class="panel">
                  <div class="panel-heading" role="tab" id="aiPreview">
                      <a data-toggle="collapse" href="#aiPreviewCollapse" aria-expanded="true" aria-controls="aiPreviewCollapse"> 
                          <h3 class="panel-title headingsForPreview">
                              Additional Info
                              <span class="octicon octicon-triangle-down pull-right"></span>
                              <!--<span class="octicon octicon-triangle-up pull-right"></span>-->
                          </h3>
                      </a>
                  </div>
                  <div id="aiPreviewCollapse" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="aiPreview">
                      <div class="panel-body">
                        <h4>
                            Ministry Results
                        </h4>
                        <hr>
                        <p>
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </p>
                        <hr>
                        <h4>
                            Recommendations/Needs
                        </h4>
                        <hr>
                        <p>
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </p>
                        <hr>
                        <h4>
                            Other Significant Items
                        </h4>
                        <hr>
                        <p>
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </p>
                      </div>
                  </div>
              </div>
              
<!-- Summary --> 
              <div class="panel">
                  <div class="panel-heading" role="tab" id="summaryPreview">
                      <a data-toggle="collapse" href="#summaryPreviewCollapse" aria-expanded="true" aria-controls="summaryPreviewCollapse"> 
                          <h3 class="panel-title headingsForPreview">
                              Summary
                              <span class="octicon octicon-triangle-down pull-right"></span>
                              <!--<span class="octicon octicon-triangle-up pull-right"></span>-->
                          </h3>
                      </a>
                  </div>
                  <div id="summaryPreviewCollapse" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="summaryPreview">
                      <div class="panel-body">
                          <h4> </h4>
                          <table class="table">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Bedside Presentations</th> 
                                    <th>Playroom Presentations</th>
                                    <th>Jesus Film</th>
                                    <th>Open Air Meetings</th>
                                    <th>Mobile Clinic Visits</th> 
                                    <th>Additional Opportunities</th>
                                    <th>Totals</th> 
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>People Reached</th>
                                    <td>10</td> 
                                    <td>3</td>
                                    <td>6</td> 
                                    <td>7</td>
                                    <td>8</td> 
                                    <td>2</td>
                                    <td>36</td> 
                                </tr>
                                <tr>
                                    <th>Bibles Given Out</th>
                                    <td>10</td> 
                                    <td>5</td>
                                    <td>7</td> 
                                    <td>5</td>
                                    <td>3</td> 
                                    <td>4</td>
                                    <td>34</td>
                                </tr>
                                <tr>
                                    <th>Salvations</th>
                                    <td>5</td> 
                                    <td>6</td>
                                    <td>7</td> 
                                    <td>3</td>
                                    <td>4</td> 
                                    <td>9</td>
                                    <td>39</td>
                                </tr>
                                <tr>
                                    <th>Recommitments</th>
                                    <td>5</td> 
                                    <td>7</td>
                                    <td>4</td> 
                                    <td>6</td>
                                    <td>3</td> 
                                    <td>6</td>
                                    <td>31</td>
                                </tr>
                            </tbody>
                         </table>
                      </div>
                  </div>
              </div>
              
<!-- Demographics --> 
             <!-- <div class="panel">
                  <div class="panel-heading" role="tab" id="demographicsPreview">
                      <a data-toggle="collapse" href="#demographicsPreviewCollapse" aria-expanded="true" aria-controls="demographicsPreviewCollapse"> 
                          <h3 class="panel-title headingsForPreview">
                              Demographics
                              <span class="octicon octicon-triangle-down pull-right"></span>
                              <!--<span class="octicon octicon-triangle-up pull-right"></span>->
                          </h3>
                      </a>
                  </div>
                  <div id="demographicsPreviewCollapse" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="demographicsPreview">
                      <div class="panel-body">
                          <span class="row">
                             <span class="col-xs-3">
                                 <h4>Staff</h4>
                                 <p>Team Member #’s and Names</p>
                                 <p>Church Affiliation</p>
                                 <p>Paid vs. Volunteer</p>
                             </span>
                             <span class="col-xs-3">
                                 <h4>Partner Organizations</h4>
                                 <p>Organizations 1</p>
                                 <p>Organizations 2</p>
                                 <p>Organizations 3</p>
                             </span>
                             <span class="col-xs-3">
                                 <h4>Churches</h4>
                                 <p>Church 1</p>
                                 <p>Church 2</p>
                                 <p>Church 3</p>
                             </span>
                             <span class="col-xs-3">
                                 <h4>People Groups</h4>
                                 <p>Group 1</p>
                                 <p>Group 2</p>
                                 <p>Group 3</p>
                             </span>
                        </span>
                      </div>
                  </div>
              </div>-->
          </div>
      </div>
  </div>
