<div role="tabpanel" class="tab-pane" id="preview">
      <div class="panel">
          <div class="panel-heading">
              <h3 class="panel-title">
                Preview
              </h3>
          </div>
          <div class="panel-body detail-section-content">
              
<!-- Hospital -->              
              <div class="panel">
                  <div class="panel-heading" role="tab" id="hospitalPreview">
                      <a data-toggle="collapse" href="#hospitalPreviewCollapse" aria-expanded="true" aria-controls="hospitalPreviewCollapse"> 
                          <h3 class="panel-title">
                              Hospital 
                              <span class="octicon octicon-triangle-down pull-right"></span>
                              <!--<span class="octicon octicon-triangle-up pull-right"></span>-->
                          </h3>
                      </a>
                  </div>
                  <div id="hospitalPreviewCollapse" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="hospitalPreview">
                      <div class="panel-body">
                          <div class="panel">
                             <div class="panel-heading" role="tab">
                                <h4 class="panel-title">
                                    Staff
                                </h4>
                             </div>
                             <div class="panel-body">
                                 
                             </div>
                          </div>
                          <div class="panel">
                             <div class="panel-heading" role="tab">
                                <h4 class="panel-title">
                                    Patient
                                </h4>
                             </div>
                             <div class="panel-body">
                                 
                             </div>
                          </div>
                      </div>
                  </div>

<!-- Events -->
              <div class="panel">
                  <div class="panel-heading" role="tab" id="eventsPreview">
                      <a data-toggle="collapse" href="#eventsPreviewCollapse" aria-expanded="true" aria-controls="eventsPreviewCollapse"> 
                          <h3 class="panel-title">
                              Events
                              <span class="octicon octicon-triangle-down pull-right"></span>
                              <!--<span class="octicon octicon-triangle-up pull-right"></span>-->
                          </h3>
                      </a>
                  </div>
                  <div id="eventsPreviewCollapse" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="eventsPreview">
                      <div class="panel-body">
                          <div class="panel">
                             <div class="panel-heading" role="tab">
                                <h4 class="panel-title">
                                    Leadership
                                </h4>
                             </div>
                             <div class="panel-body">
                                 
                             </div>
                          </div>
                          <div class="panel">
                             <div class="panel-heading" role="tab">
                                <h4 class="panel-title">
                                    Community
                                </h4>
                             </div>
                             <div class="panel-body">
                                 
                             </div>
                          </div>
                      </div>
                  </div>
              </div>

<!-- Faith Declarations -->
              <div class="panel">
                  <div class="panel-heading" role="tab" id="fdPreview">
                      <a data-toggle="collapse" href="#fdPreviewCollapse" aria-expanded="false" aria-controls="fdPreviewCollapse"> 
                          <h3 class="panel-title">
                              Faith Declarations
                              <span class="octicon octicon-triangle-down pull-right"></span>
                              <!--<span class="octicon octicon-triangle-up pull-right"></span>-->
                          </h3>
                      </a>
                  </div>
                  <div id="fdPreviewCollapse" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="fdPreview">
                      <div class="panel-body">
                          <h4>Christianity Explored Class</h4>
                          <span class="row">
                             <span class="col-xs-3">
                                 <p>CE Sessions: 10</p>
                             </span>
                             <span class="col-xs-3">
                                 <p>CE Participants: 200</p>
                             </span>
                             <span class="col-xs-3">
                                 <p>CE Graduates: 150</p>
                             </span>
                             <span class="col-xs-3">
                                 <p>CE Participants Seeking Continuing Education: 100</p>
                             </span>
                          </span>
                          
                          
                          <h4>Faith Declarations:</h4>
                          <p>Total: 350</p>
                          <div class="panel">
                            <div class="panel-heading" role="tab" id="fdNamesPreview">
                                <a class="collapsed" data-toggle="collapse" href="#fdNamesPreviewCollapse" aria-expanded="false" aria-controls="fdNamesPreviewCollapse"> 
                                    <h5 class="panel-title">
                                        New Believer/Recommitment Names
                                        <span class="octicon octicon-triangle-down pull-right"></span>
                                        <!--<span class="octicon octicon-triangle-up pull-right"></span>-->
                                    </h5>
                                </a>
                            </div>
                            <div id="fdNamesPreviewCollapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="fdNamesPreview">
                                <div class="panel-body">
                                    <div>
                                        <span class="row">
                                            <span class="col-xs-3">
                                                <button class="btn btn-primary col-xs-offset-2 col-xs-10 previewNames">Person's Name</button>
                                            </span>
                                            <span class="col-xs-3">
                                                <button class="btn btn-primary col-xs-offset-2 col-xs-10 previewNames">Person's Name</button>
                                            </span>
                                            <span class="col-xs-3">
                                                <button class="btn btn-primary col-xs-offset-2 col-xs-10 previewNames">Person's Name</button>
                                            </span>
                                            <span class="col-xs-3">
                                                <button class="btn btn-primary col-xs-offset-2 col-xs-10 previewNames">Person's Name</button>
                                            </span>
                                        </span> <!-- end Row1 -->
                                        <span class="row">
                                            <span class="col-xs-3">
                                                <button class="btn btn-primary col-xs-offset-2 col-xs-10 previewNames">Person's Name</button>
                                            </span>
                                            <span class="col-xs-3">
                                                <button class="btn btn-primary col-xs-offset-2 col-xs-10 previewNames">Person's Name</button>
                                            </span>
                                            <span class="col-xs-3">
                                                <button class="btn btn-primary col-xs-offset-2 col-xs-10 previewNames">Person's Name</button>
                                            </span>
                                            <span class="col-xs-3">
                                                <button class="btn btn-primary col-xs-offset-2 col-xs-10 previewNames">Person's Name</button>
                                            </span>
                                        </span><!-- end Row2 -->
                                        <span class="row">
                                            <span class="col-xs-3">
                                                <button class="btn btn-primary col-xs-offset-2 col-xs-10 previewNames">Person's Name</button>
                                            </span>
                                            <span class="col-xs-3">
                                                <button class="btn btn-primary col-xs-offset-2 col-xs-10 previewNames">Person's Name</button>
                                            </span>
                                            <span class="col-xs-3">
                                                <button class="btn btn-primary col-xs-offset-2 col-xs-10 previewNames">Person's Name</button>
                                            </span>
                                            <span class="col-xs-3">
                                                <button class="btn btn-primary col-xs-offset-2 col-xs-10 previewNames">Person's Name</button>
                                            </span>
                                        </span> <!-- end Row3 -->
                                        <span class="row">
                                            <span class="col-xs-3">
                                                <button class="btn btn-primary col-xs-offset-2 col-xs-10 previewNames">Person's Name</button>
                                            </span>
                                            <span class="col-xs-3">
                                                <button class="btn btn-primary col-xs-offset-2 col-xs-10 previewNames">Person's Name</button>
                                            </span>
                                            <span class="col-xs-3">
                                                <button class="btn btn-primary col-xs-offset-2 col-xs-10 previewNames">Person's Name</button>
                                            </span>
                                            <span class="col-xs-3">
                                                <button class="btn btn-primary col-xs-offset-2 col-xs-10 previewNames">Person's Name</button>
                                            </span>
                                        </span> <!-- end Row4 -->
                                        <span class="row">
                                            <span class="col-xs-3">
                                                <button class="btn btn-primary col-xs-offset-2 col-xs-10 previewNames">Person's Name</button>
                                            </span>
                                            <span class="col-xs-3">
                                                <button class="btn btn-primary col-xs-offset-2 col-xs-10 previewNames">Person's Name</button>
                                            </span>
                                            <span class="col-xs-3">
                                                <button class="btn btn-primary col-xs-offset-2 col-xs-10 previewNames">Person's Name</button>
                                            </span>
                                            <span class="col-xs-3">
                                                <button class="btn btn-primary col-xs-offset-2 col-xs-10 previewNames">Person's Name</button>
                                            </span>
                                        </span> <!-- end Row5 -->
                                    </div>
                                </div>
                            </div>
                         </div>
                      </div>
                  </div>
              </div>
<!-- Additional Info --> 
              <div class="panel">
                  <div class="panel-heading" role="tab" id="aiPreview">
                      <a data-toggle="collapse" href="#aiPreviewCollapse" aria-expanded="true" aria-controls="aiPreviewCollapse"> 
                          <h3 class="panel-title">
                              Additional Info
                              <span class="octicon octicon-triangle-down pull-right"></span>
                              <!--<span class="octicon octicon-triangle-up pull-right"></span>-->
                          </h3>
                      </a>
                  </div>
                  <div id="aiPreviewCollapse" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="aiPreview">
                      <div class="panel-body">
                          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                      </div>
                  </div>
              </div>
              
<!-- Summary --> 
              <div class="panel">
                  <div class="panel-heading" role="tab" id="summaryPreview">
                      <a data-toggle="collapse" href="#summaryPreviewCollapse" aria-expanded="true" aria-controls="summaryPreviewCollapse"> 
                          <h3 class="panel-title">
                              Summary
                              <span class="octicon octicon-triangle-down pull-right"></span>
                              <!--<span class="octicon octicon-triangle-up pull-right"></span>-->
                          </h3>
                      </a>
                  </div>
                  <div id="summaryPreviewCollapse" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="summaryPreview">
                      <div class="panel-body">
                          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                      </div>
                  </div>
              </div>
              
<!-- Demographics --> 
              <div class="panel">
                  <div class="panel-heading" role="tab" id="demographicsPreview">
                      <a data-toggle="collapse" href="#demographicsPreviewCollapse" aria-expanded="true" aria-controls="demographicsPreviewCollapse"> 
                          <h3 class="panel-title">
                              Demographics
                              <span class="octicon octicon-triangle-down pull-right"></span>
                              <!--<span class="octicon octicon-triangle-up pull-right"></span>-->
                          </h3>
                      </a>
                  </div>
                  <div id="demographicsPreviewCollapse" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="demographicsPreview">
                      <div class="panel-body">
                          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
