{{#if hasReports}} <!-- Add this function-->
    <table class="table">
        <tr class="table-header">
            <th>ID</th>
        </tr>
        {{#with this as parentController}}
            <tr>
            {{#if parentController.showActions}}
                <td>
                    {{#if parentController.canAdd}}
                        <button class="btn btn-default neutral" {{action 'editItem' this  bubbles=false }}>Continue Editing</button>
                        {{/if}}
                        {{#if parentController.canDelete}}
                            <button class="btn btn-default warning" {{action 'deleteItem' this  bubbles=false }}><span class="octicon octicon-x"></span>Delete</button>
                    {{/if}}
                </td>
            {{/if}}
             </tr>
        {{/with}}
    </table>
{{else}}
    <div class="alert alert-info">
        <em>No 'In Progress' Report Exists.</em>
        {{#if canAdd}}
            <em>Create a new patient record?</em>
            <button class="btn btn-primary on-white" {{action 'newReport'}}>Start New Report</button>
        {{/if}}
    </div>
{{/if}}