{{#if hasRecords}} <!-- Add this function-->
    <table class="table">
        <tr class="table-header">
            <th>ID</th>
        </tr>
        {{#with this as parentController}}
            {{#each}}
            <tr>
                <td>{{reportDate}}</td>
            </tr>     
            {{#if parentController.showActions}}
                <td>
                    {{#if parentController.canAddReport}}
                        <button class="btn btn-default neutral" {{action 'editItem' this  bubbles=false }}>Continue Editing</button>
                    {{/if}}
                </td>
            {{/if}}     
            {{/each}}
        {{/with}}
    </table>
{{else}}
    <div class="alert alert-info">
        <em>No 'In Progress' Report Exists.</em>
        {{#if canAddReport}}
            <em>Create a new monthly report?</em>
            <button class="btn btn-primary on-white" {{action 'newItem'}}>New Report</button>
        {{/if}}
    </div>
{{/if}}