<div class="panel panel-primary">
    {{partial 'paging'}}
    {{yield}}
    <div class="panel-footer">
      <button class="btn btn-default" {{action 'updateReport'}}>Save</button>
      <button class="btn btn-default warning" {{action 'hideGenInfo'}}>Cancel</button>
      <a href="#ce" role="tab" data-toggle="pill"><button class="btn btn-default neutral">Previous</button></a>
      <a href="#demographics" role="tab" data-toggle="pill"><button class="btn btn-default neutral">Next</button></a>
    </div> 
</div>
